/* Load Montserrat font */

@font-face {
    font-family  : 'Montserrat';
    font-style   : normal;
    font-weight  : 400;
    font-display : swap;
    src          : local('Montserrat Regular'), local('Montserrat-Regular'), url('font/Montserrat-Regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Style start */

.outer {
    display : table;
    position: absolute;
    height  : 100%;
    width   : 100%;
}

.middle {
    display       : table-cell;
    vertical-align: middle;
}

.inner {
    margin-left : auto;
    margin-right: auto;
    width       : 132px;
}

.logo {
    width : 70px;
    height: 70px;
}

.top-bar {
    background-color  : #f5f5f5;
    padding           : 5px 15px;
    display           : grid;
    grid-template-rows: auto;
    grid-gap          : 0px;
    border-bottom     : 1px solid #dadada;
    box-shadow        : 0px -1px 5px 0px rgb(136, 136, 136);
}

.bar-brand {
    display              : grid;
    grid-template-columns: 75px 210px;
    grid-gap             : 10px;
}

.bar-credits {
    display              : grid;
    grid-template-columns: 215px 70px;
    grid-gap             : 10px;
}

.btn-donate {
    margin-top: 4px;
}

.section-grid {
    background-color  : #f5f5f5;
    box-shadow        : 1px 1px 3px -1px rgb(136, 136, 136);
    border-radius     : 3px;
    margin            : 15px;
    padding           : 10px;
    display           : grid;
    grid-template-rows: auto;
}

.section-row {
    display              : grid;
    grid-template-columns: 40px 165px;
    grid-gap             : 30px;
    padding              : 4px 0px;
    border-top           : 1px solid #e0e0e0;
}

.features-row {
    display              : grid;
    grid-template-columns: 40px 210px;
    grid-gap             : 20px;
    padding              : 4px 0px;
    border-top           : 1px solid #e0e0e0;
}

.no-upperline {
    border-top: none;
}

h1 {
    font-size  : 27px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size  : 20px;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: none;
}

.text-upper {
    text-transform: uppercase;
}

/* Enable - disable swtich */

.switch {
    position: relative;
    display : inline-block;
    width   : 100%;
    height  : 19px;
    margin  : 0px 6px;
}

.switch input {
    display: none;
}

.slider {
    position          : absolute;
    cursor            : pointer;
    top               : 0;
    left              : 0;
    right             : 0;
    bottom            : 0;
    background-color  : #cd4244;
    -webkit-transition: .4s;
    transition        : .4s;
    border-radius     : 17px;
}

.slider:before {
    position          : absolute;
    content           : "";
    height            : 12px;
    width             : 12px;
    left              : 6px;
    bottom            : 4px;
    background-color  : white;
    -webkit-transition: .4s;
    transition        : .4s;
    border-radius     : 50%;
}

input:checked+.slider {
    background-color: #5cd14f;
}

input:checked:disabled+.slider {
    background-color: #dad200;
}

input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform    : translateX(15px);
    transform        : translateX(15px);
}

/* Uggly fixes */
.ml6p {
    margin-left: 6px;
}